# {{WORKLOAD_NAME}}

Go worker process scaffolded by the Teams API.

## Development

```bash
make run
```

## Testing

```bash
make test
```

## Docker

```bash
docker build -t {{WORKLOAD_NAME}} .
docker run {{WORKLOAD_NAME}}
```
